<body style="background-color:powderblue;">
<center><h1><%= @user.name%>'s Athlete Page</h1></center>

<center><p style="color:purple;">Area: <%=@user.area%></p></center>
<center><p style="color:purple;">Workout: <%=@user.workout%></p></center>

<% if current_user == @user %>

<p style="color:purple;"> Edit:  <a href="/users/<%=@user.id%>/edit"><%=@user.name %></a></p>
  

<form action="/users/<%=user.id%>" method="post">
<input type="hidden" name="_method" value="delete">

<input type="submit" value="Delete User and Workout ">
</form>
<%end%>


</body>