<body style="background-color:powderblue;">
<center><h3 class="blue-grey-text darken-1""><%= @user.name%>'s Athlete Page</h3></center>

<center><p class="blue-grey-text darken-1">Name: <%=@user.name%></p></center>
<center><p>Email: <%=@user.email%></p></center>




<% if current_user == @user %>

<center><button><a href="/users/<%=@user.id%>/edit"> Edit User</a></button></center>

<form action="/users/<%=@user.id%>" method="post">
<input type="hidden" name="_method" value="delete">

<center><input type="submit" value="Delete User"></center>
</form>
<%end%>


</body>